        <div class="row">
          <div class="large-12 columns">
            <div class="row">
            <h1>Comissão Organizadora</h1>       
           
            <h2>Organização Geral </h2>  

              <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                            <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                            <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>

              <h2>Logística</h2>
                            <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                            <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                            <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
              <h2>Estrutura e ornamentação</h2>
                            <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                            <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                            <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
              <h2>Patrocínio </h2>
                           <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
              <h2>Cientifica</h2>
                           <div class="large-4 small-4 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
              <h2>Marketing e divulgação</h2>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
              <h2>Competições</h2>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
              <h2> Inscrições </h2>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>
                           <div class="large-4 small-2 columns">
                <%= link_to image_tag('img_teste.png'), apresentacao_index_path%>
                <h6 class="panel">Descrição</h6>
              </div>

       
            </div>
          </div>
        </div>
       <!--
Competições:
  Lucas Marques; Douglas Augusto;

  Prof. Msc. Alcilene Dalilia; Prof. Msc. Patrícia Medyna 


Inscrições: 

-->