
<div id="slider">
      <ul class="orbit-ul" data-orbit="" data-options=" animation: 'fade';bullets: true;timer: true;pause_on_hover: false;navigation_arrows: false;slide_number: false;">
        <li class="orbit-item orbit-item-1"></li>
        <li class="orbit-item orbit-item-2"></li>
        <li class="orbit-item orbit-item-3"></li>
      </ul>
</div>
<div class="row">

  <div class="large-12 columns">
    <div class="panel">
      <h4>O que é o SINFO?</h4>
      <div class="row">
        <div class="large-12 columns">
          <p>É o Simpósio de Sistemas de Informação, da Universidade Federal do Piauí, construido pelo conjunto do curso. Em sua sétima edição, que acontecerá <strong>entre os dias 19 e 21</strong> de janeiro de 2016, traz o tema Internet das coisas como discussão central de suas atividades. Serão dispostos espaços de discussão e construção do conhecimento, como palestras e minicursos, além de workshops, start-up's e demais demonstrações tecnológicas.</p>
          </div>


    </div>
    <%= link_to "Saiba Mais", apresentacao_index_path, class: 'button radius'%>

  </div>
</div>


<div class="row">
  <div class="large-4 columns">
    <%= link_to image_tag('MesaRedonda.jpg'), inscricoes_index_path%>
    <h4>Mesas Redondas</h4>
    <p>Onde o contraponto de opiniões e vivências que cercam a área da computação é o objetivo central. Nesses espaços, os estudantes terão acesso a uma ampla discussão envolvendo organizações e cientistas, tendo como temáticas: O Marco Civil da Internet; e A perspectiva atual da Internet das coisas.</p>
  </div>

  <div class="large-4 columns">
    <%= link_to image_tag('minicurso.png'), inscricoes_index_path%>
    <h4>Minicursos</h4>
    <p>
      Que com mais especifidade, levarão ao participante um conteúdo técnico, detalhado e prático acerca das ferramentas abordadas, que serão: Android; Arduino e robótica Livre; Python; Controle versão; E Muito mais
    </p>
  </div>

  <div class="large-4 columns">
    <%= link_to image_tag('Palestra.jpg'), inscricoes_index_path%>
    <h4>Palestras</h4>
    <p>Para que os participantes possam conhecer o trabalho apresentado pelos convidados de maneira mais clara e se atualizarem dos assuntos abordados, podendo desenvolver projetos pessoais ou tirar dúvidas decorrentes destes espaços. As temáticas serão: A Robótica Livre na Educação; A Internet das coisas; Processamento de Imagens e Sistemas Integrados;
      </p>
  </div>
</div>




<div class="row">
  <div class="large-6 columns">
    <div class="panel">
      <h4>Increva-se</h4>
      <div class="row">
        <div class="large-8 columns">
          <p>Garanta sua vaga no SINFO 2015!</p>
        </div>
        <div class="large-4 columns">
           <%= link_to "Inscreva-se", new_user_registration_path, class: 'button radius'%>
      </div>
    </div>
  </div>
</div>
<div class="large-6 columns">
    <div class="panel">
      <h4>Programação</h4>
      <div class="row">
        <div class="large-8 columns">
          <p>Confira nossa programação!</p>
        </div>
        <div class="large-4 columns">
          <%= link_to "Confira",programacao_index_path, class: 'button radius'%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h4>PALESTRANTES CONFIRMADOS</h4>
  <div class="large-4 columns">
    <%= image_tag('img_teste.png')%>
    <h4>Internet das Coisas</h4>
    <h6 class="subheader">Prof. Dr. da UFPI Ricardo de Andrade</h6>
    <p> Atualmente é Subcoordenador do Programa de Pós-Graduação (Nível Mestrado) em Ciência da Computação (PPGCC) da UFPI e Coordenador da Câmara Técnico-Científica (CTC) de Computação e Engenharias da Fundação de Amparo a Pesquisa do Estado do Piauí (FAPEPI) e Coordenador de Tutoria do Curso de Bacharelado em Sistemas de Informação da UFPI/UAB/CEAD. Suas áreas de interesse são: Fundamentos e Aplicações de Sistemas Inteligentes (Redes Neurais Artificiais, Sistemas Fuzzy, Computação Evolutiva, Inteligência de Enxames, Sistemas Imunológicos Artificiais e Agentes Inteligentes), Internet das Coisas, Robótica Autônoma e Sistemas Elétricos de Potência.</p>
    <a href = "http://lattes.cnpq.br/2263553634422386"> -> Lattes </a>
  </div>
  <div class="large-4 columns">
    <%= image_tag('img_teste.png')%>
    <h4>Processamento de Imagens</h4>
    <h6 class="subheader">Prof. Dr. da UFPI Rodrigo Veras</h6>
    <p>Possui graduação em Bacharelado Em Ciência da Computação pela Universidade Federal do Piauí (2005), mestrado em Ciência da Computação pela Universidade Federal do Ceará (2007) e doutorado em Engenharia de Teleinformática, também pela UFC. Atualmente é professor do Departamento de Computação da Universidade Federal do Piauí. Tem experiência na área de Computação, com ênfase em Processamento de Imagens, atuando principalmente nos seguintes temas: diagnóstico auxiliado por computador e reconhecimento de padrões
      <a href = "http://lattes.cnpq.br/2634254790193199"> -> Lattes </a>
    </p>
  </div>
  <div class="large-4 columns">
    <%= image_tag('img_teste.png')%>
    <h4>Algoritmos Genéticos</h4>
    <h6 class="subheader">Prof.ad. dr. UFMA Wener Borges de Sampaio</h6>
    <p>Possui graduação em Bacharelado em Ciências da Computação pela Universidade Federal do Piauí (2005), mestrado (2009) e doutorado (2015) em Engenharia de Eletricidade, pela Universidade Federal do Maranhão, com habilitação em Computação Gráfica. Possui experiência em Ciências da Computação com ênfase em processamento de imagens, visão computacional, computação evolutiva e inteligência artificial. Atualmente é professor adjunto da Universidade Federal do Maranhão.
      <a href = "http://lattes.cnpq.br/7739379729347821"> -> Lattes </a>
        
    </p>
  </div>

</div>
