
<div class="row" data-equalizer>

	<div class="large-10 large-centered columns">
		<%= image_tag 'cronograma.jpeg' %>	
	</div>

<br />
	

	 <div class="large-10 large-centered columns">
    		<div class="panel">
     			<div class="row">
        			
          
						<p>Palestra 1 - Internet das Coisas  - Rodrigo Veras;</p>
						<p>Palestra 2 - Internet das Coisas - Steve Mpinda; </p>
						<p>Palestra 3 - Processamento de Imagens - Rodrigo Veras; </p> 
						<p>Palestra 4 - Algoritmos Genéticos - Wener Sampaio; </p>
						


          			</div>
      			</div>
      			<div class ="row large-centered" >

      			   <div class="row">
            <h4><b>Minicursos G1 - 19/01</b></h4>
             
              	<div class="image-block-avatar">
                 <a href = "https://www.arduino.cc"> <%= image_tag('arduino.png')%> </a>
                 <a href = "http://lattes.cnpq.br/2994702103100444"> <p class="panel">Thiago Jose´ Lima</p></a>
                 </div>
                 <div class="image-block-avatar">
                 <a href = "https://www.facebook.com/GestorBox"> <%= image_tag('GestorBox.png')%></a>
                 <a href = "http://lattes.cnpq.br/7997723359146798"><p class="panel">Aislan Rafael</p></a>
                </div>
           
              <div class="image-block-avatar">
                <a href = "http://www.coreldraw.com"><%= image_tag('CorelDRAW-Graphics-Suite-X7.jpg')%></a>
                 <p class="panel">Leonel</p>
              </div>
               <div class="image-block-avatar">
                <a href = "https://en.wikipedia.org/wiki/Real-time_web"><%= image_tag('RealTimeWeb.jpg')%></a>
                 <a href = " http://lattes.cnpq.br/2010264560196042"> <p class="panel">Guilherme Feitosa</p></a>
                  </div>
         
        		</div>

            <div class="row">
            <h4><b>Minicursos G2 - 20/01</b></h4>
              <div class="image-block-avatar">
                <a href = "https://www.android.com/"><%= image_tag('android-logo.jpg')%></a>
                <a href = "https://www.facebook.com/laurentino.moura?fref=ts"><p class="panel">Laurentino Moura</p></a>
              </div>
              <div class="image-block-avatar">
                <a href = "https://www.python.org"><%=image_tag('python.jpg')%></a>
               <p class="panel">Jonnison Lima</p>
              </div>
              <div class="image-block-avatar">
                <a href = "https://pt.wikipedia.org/wiki/LaTeX"><%=image_tag('Latex.png')%></a>
                <a href = "http://lattes.cnpq.br/3734588405818556"><p class="panel">Romuere Silva</p></a>
              </div>
              <div class="image-block-avatar">
                <a href = ""><%= image_tag('gamesLogo.png') %></a>
                <p class="panel">Felipe (2d) e Marcelino (3d)</p>
              </div>
            </div>
         
    		</div>
  </div>
	
	
	<p>
				Dúvidas ou esclarecimentos entre em <%= link_to 'Contato',new_contact_path %> 
				</p>
</div>

     <div class="row">


        



<style type="text/css">

.image-block-avatar {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin-bottom: 2em;
}
</style>