      <div class="row">
        <hr>
        <div class="large-12 columns">
          <h4>Patrocinadores</h4>
          <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
           <li><%=image_tag('img_teste.png')%></li>
           <li><%=image_tag('img_teste.png')%></li>
           <li><%=image_tag('img_teste.png')%></li>
           <li><%=image_tag('img_teste.png')%></li>
           <li><%=image_tag('img_teste.png')%></li>
           <li><%=image_tag('img_teste.png')%></li>
           <li><%=image_tag('img_teste.png')%></li>
           <li><%=image_tag('img_teste.png')%></li>

          </ul>
        </div>
      </div>