<footer class="footer">

  <div class="row">
    <div class="small-12 medium-6 large-5 columns">

      <p class="logo"><%= link_to image_tag('logo3.png'), menu_index_path%></p>

      <p class="footer-links">

        <%= link_to "Home", menu_index_path%>

        <%= link_to "Programação", programacao_index_path%>

        <%= link_to "Inscrições", inscricoes_index_path%>

        <%= link_to "Sobre", apresentacao_index_path%>

        <%= link_to "Contato", contato_index_path%>

      </p>

      <p class="copywrite">Copyright &copy; 2015 MM Desenvolvimento</p>
      <p class="copywrite">Copyright &copy; 2015 josafams  <a href="https://www.facebook.com/jjdruk?fref=ts"><i class="fi-social-facebook"></i></a> </p>
    </div>

    <div class="small-12 medium-6 large-4 columns">

      <ul class="contact">

        <li><p><i class="fi-marker"></i>Universidade Federal do Piauí - UFPI - Campus Senador Helvídio Nunes de Barros - Rua Cícero Duarte - n. 905 - Bairro Junco - Picos - PI</p></li>

        <li><p><i class="fi-telephone"></i></p></li>

        <li><p><i class="fi-mail"></i>sinfovi@gmail.com</p></li>

      </ul>

    </div>

    <div class="small-12 medium-12 large-3 columns">
      <p class="about">O SINFO vai acontecer <strong>entre os dias 19 e 21</strong> de janeiro de 2016, é o maior evento que envolve tecnologia da informação na região centro-sul do piauí. Tem fundamental importância no fomento à inovação, no desenvolvimento tecnológico da região e na relação de troca entre a comunidade científica e diversos segmentos relacionados a área. </p>


      <p class="about subheader">Acompanhe-nos nas nossas Redes Sociais</p>

      <ul class="inline-list social">

        <a href="https://www.facebook.com/sinfoufpi/?fref=ts"><i class="fi-social-facebook"></i></a>
        <a href="https://instagram.com/sinfo7"><i class="fi-social-instagram"></i></a>
        <a href="https://twitter.com/SINFOVII"><i class="fi-social-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UC0-Gop7PrdB-nxDiyc3r1RA?"><i class="fi-social-youtube"></i></a>

      </ul>

    </div>

  </div>

</footer>
