     <div class="row">


        
            <div class="row">
            <h1>Minicursos 19/01</h1>
              <br /><br /> 
              <div class="image-block-avatar">
                 <%= image_tag('arduino.png')%> 
                <p class="panel">Ministrado pelo Prof. Thiago José, explora os conceitos e aplicações da placa microcontroladora arduino</p>
              </div>
              <div class="image-block-avatar">
                <%= image_tag('GestorBox.png')%>
                <p class="panel">Ministrado pelo prof. Aislan Rafael, apresenta o ambiente virtual de aprendizagem GestorBOX e sua aplicação na aprendizagem do empreendedorismo</p>
                </div>
           
              <div class="image-block-avatar">
                <%= image_tag('CorelDRAW-Graphics-Suite-X7.jpg')%>
                <p class="panel"> Introduz os participantes ao Corel Draw X7, com exposições e exemplos práticos</p>
              </div>
              <div class="image-block-avatar">
                <%= image_tag('RealTimeWeb.jpg')%>
                <p class="panel">Descrição em andamento</p>
              </div>
         
        


            <div class="row">
            <h1>Minicursos 20/01</h1>
              <br /><br />
              <div class="image-block-avatar">
                <%= image_tag('android-logo.jpg')%>
                <p class="panel">Descrição</p>
              </div>
              <div class="image-block-avatar">
                <%=image_tag('python.jpg')%>
                <p class="panel">Descrição</p>

              </div>
              <div class="image-block-avatar">
                <%=image_tag('Latex.png')%>
                <p class="panel">LaTeX é um conjunto de macros para o processador de textos(TeX), utilizado amplamente para a produção de textos matemáticos e científicos devido à sua alta qualidade tipográfica</p>
        
              </div>
              <div class="image-block-avatar">
                <%= image_tag('gamesLogo.png') %>
                <p class="panel">Descrição</p>
              </div>
            </div>
          </div>



<style type="text/css">

.image-block-avatar {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin-bottom: 2em;
}
</style>